<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
   <setting id="username"  type="text" label="30007"/>
   <setting id="password"  type="text" label="30008" option="hidden"/>
   <setting id="ffmpeg"    type="bool" label="30013" default="true"/>
   <setting id="logout" option="close" label="30009" type="action" action="RunScript(plugin.video.cbc, logout)"/>

   <!-- <setting label="Install IPTV Manager add-on" type="action" action="InstallAddon(service.iptv.manager)" option="close" visible="!System.HasAddon(service.iptv.manager)"/>
   <setting label="Enable IPTV Manager integration" type="bool" id="iptv.enabled" default="true" visible="System.HasAddon(service.iptv.manager)" />
   <setting label="IPTV Manager settings…" type="action" action="Addon.OpenSettings(service.iptv.manager)" enable="eq(-1,true)" option="close" visible="System.HasAddon(service.iptv.manager)" subsetting="true"/>
   <setting id="iptv.channels_uri" default="plugin://plugin.video.cbc/iptv/channels" visible="false"/> -->
</settings>
